<div class="jumbotron text-center">
  <h1>MEAN 认证系统</h1>
  <p class="lead">欢迎来到 MEAN 认证系统</p>
  <a [routerLink]="['/register']" class="btn btn-primary">Register</a> <a [routerLink]="['/login']" class="btn btn-default">Login</a>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express 后端</h3>
    <p>
一个Node.js / Express服务器使用Mongoose来组织模型和查询数据库</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI生成组件，服务等。本地开发服务器环境和自动编译</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>使用JSON Web Token 的全功能身份验证，登录和存储用户数据</p>
  </div>
</div>